
<div class="wrapper">
  <div class="post-list">
    <div class="post-list-subhead">
      <h1>
        All Posts
      </h1>
      <select name="sort" id="sort" [(ngModel)]="sort" (click)="sortList()">
        <option value="">Sort</option>
        <option value="a-z">A-Z</option>
        <option value="z-a">Z-A</option>
      </select>
    </div>

    <div class="posts" infiniteScroll
         [infiniteScrollDistance]="scrollDistance"
         [infiniteScrollUpDistance]="scrollUpDistance"
         [infiniteScrollThrottle]="throttle"
         (scrolled)="onScrollDown()"
         (scrolledUp)="onScrollUp()">
      <section class="post-item"  *ngFor="let post of postList| slice: 0: number">
        <header class="post-item-header">
          <p class="post-item-meta">
            <span class="post-item-date">{{ post.publishedAt }}</span> on <a class="post-item-category category-js" href="#">{{ post.category }}</a>
          </p>
          <h2 class="post-item-title">{{ post.title }}</h2>
        </header>

        <div class="post-item-description">
          <p>
            {{ post.content| slice: 0 : 250 }}
          </p>
        </div>

        <footer class="post-item-footer">
          <a class="post-item-more" href="#">Read Full Post</a>
        </footer>
      </section>
    </div>

  </div>
</div>
